@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a, a:hover {
    text-decoration: none;
    transition: all 300ms ease;
}

li { 
    list-style-type: none;
}

/* UTILITY CLASSES */
.flex-1 {
    flex: 1;
}

.flex {
    display:flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text--purple {
    color: #6030b1;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor:hover {
    opacity: 0.7;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;    
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME SECTION */

#about-me {
    display: flex;
    flex-direction: column;    
    padding-top: 20px; 
    align-items: center;
    flex-direction: column; 

}
.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 600px;
  margin: 0 auto; 
}

.about-me__picture--mask {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

.about-me__picture--mask img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.about-me__info--para {
    margin-bottom: 24px;
    text-align: center; 
    font-size: 16px;
}

.about-me__link {
    font-size: 20px;
    color:#242424;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
}