@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}

a:hover {
    opacity: 0.7;
}

li { 
    list-style-type: none;
}

/* --- UTILITY CLASSES --- */

.text--purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.container {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1000px;
}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px;
}

.section__title {
    margin-bottom: 20px;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px; 
    height: 3px;
    width: 0; 
    right: 0; 
    transition: width 0.3s ease;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:hover:after,
.link__hover-effect:focus:after {
    left: 0;
    width: 100%; 
}

/* --- NAVIGATION BAR --- */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor:hover,
.nav__link--anchor:focus {
    opacity: 1; 
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;    
}

.nav__link--anchor-primary:focus {
    background-color: #5d3eff;
    box-shadow: 0 0 0 3px rgba(96, 48, 177, 0.5); 
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/* --- ABOUT ME SECTION --- */

#about-me {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;    
    padding-top: 20px; 
    align-items: center;
    justify-content: center; 
}

.about-me__content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: 1000px;
    padding: 0 24px;
}

.about-me__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 0; 
    align-items: center; 
    text-align: center;
}

.about-me__info--container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 600px;
  margin: 0 auto; 
}

.about-me__picture--mask {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    animation: animate-profile-picture 800ms 500ms backwards; 
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
}
}


.about-me__picture--mask img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.about-me__info--para {
    margin-bottom: 24px;
    text-align: center; 
    font-size: 16px;
    animation: fade-up 650ms 900ms backwards;
}

.about-me__links {
    display: flex;
    justify-content: center;  
    margin-bottom: 48px; 
}

.about-me__link {
    font-size: 32px; 
    color:#242424;
    text-decoration: none;
    padding: 0 16px;
    transition: all 300ms ease;
    animation: fade-up 650ms 900ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        trasnform: translateY(0);
    }
}

.about-me__link:hover,
.about-me__link:focus {
    color: #6030b1; 
}

.about-me__img--container {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.about-me__img {
    width: 100%; 
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
}
    100% {
    opacity: 1;
    } 
}

.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}

    @keyframes animate-wave {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(30deg);
        }
        100% {
            transform: roate(0);
        }
}

/* --- TECH - STACK --- */

.language__img {
    width: 100%;
    max-width: 100px; 
    transition: all 300ms ease;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 15px 5px;
    flex-direction: column;
    position: relative;
    cursor: default; 
}

.language__img--wrapper:hover .language__img,
.language__img--wrapper:focus .language__img { 
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.language__name {
    margin-top: 8px;
    font-weight: 700;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: all 500ms ease;
    font-size: 15px;
}

.language__img--wrapper:hover .language__name,
.language__img--wrapper:focus .language__name {
    transform: scale(1);
    opacity: 1;
}

/* PROJECTS */

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project__wrapper:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__list {
  padding-top: 40px;
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}

.footer__logo--img {
  width: 100px;
  height: 100x;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__wrapper {
    border-radius: 0;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}

